div{
    background-color: tomato;
    padding: 10px;
    text-align: justify;
    margin-bottom: 10px;

}
.pic-title{
    text-align: right;
    height: 30px;
    width: 110px;
    background-color: aqua;
    border: 5px;
    
}